body {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-content: space-around;
    background-color: rgb(15, 20, 35);
    height: 98vh;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(15, 20, 35);
    height: fit-content;
}

#timerDisplay {
    font-size: 6rem;
    font-family: monospace;
    font-weight: bold;
    color:white;
    margin-bottom: 25px;
}

#scrambleDisplay {
    font-size: 2rem;
    font-family: monospace;
    font-weight: bold;
    color:white;
    margin-bottom: 25px;
}

#tools {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#tools .tool {
    width: 100%;
    height: 360px;
    overflow-y: auto;
    padding: 5px;
    margin: 5px;
    background-color: rgb(10, 15, 25);
}
.button {
    width: 100%;
}

#solveButtons button {
    border: none;
    padding: 10px;
    font-size: 1rem;
    font-family: monospace;
    color:white;
    background-color: rgb(10, 15, 25);
    height: fit-content;
    text-align: left;
    align-content: center;
}

#solveButtons button:hover {
    text-decoration: underline;
    transition: 0.2s;
}

#solveButtons {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}